<div class="confirmPage">
  <div class='container'>
    <h1 class="confirmPage_title">お問い合わせ内容</h1>
    <%= form_with model: @inquiry, url: inquiries_thanks_path, method: :post, local: true do |f| %>
      <div class="confirmForm_item">
        <h3>お名前</h3>
        <div>
          <%= f.hidden_field :name %>
          <%= @inquiry.name %>
        </div>
      </div>
      <div class="confirmForm_item">
        <h3>メールアドレス</h3>
        <div>
          <%= f.hidden_field :email %>
          <%= @inquiry.email %>
        </div>
      </div>
      <div class="confirmForm_item">
        <h3>チラシの内容</h3>
        <div>
          <%= f.hidden_field :relationship %>
          <%= @inquiry.relationship %>
        </div>
      </div>
      <div class="confirmForm_item">
        <h3>何かお困りのこと</h3>
        <div>
          <% if @inquiry.content.empty? %>
            特になし
          <% else %>
            <%= @inquiry.content %>
          <% end%>
          <%= f.hidden_field :content %>
        </div>
      </div>
      <div class="text-center">
        <%= link_to "入力画面に戻る", root_path, class: "btn btn-info"%>
        <%= f.submit '送信する', :class => 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
