<div class='topPage'>
  <div class="container">
    <h1 class="text-center">簡単アンケート</h1>
    <p>チラシを見て頂いた方にアンケート調査をしております。<br>30秒ほどの簡単なアンケートになります。<br>
    お答え頂いた方限定に10％割引をつけさせて頂きます。
    </p>
    <%= form_with(model: @inquiry, url: inquiries_confirm_path, local: true) do |f| %>
      <% if @inquiry.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <strong>入力内容にエラーがあります。</strong>
          <ul>
            <% @inquiry.errors.full_messages.each do |msg|%>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
        <!-- /.alert -->
      <% end %>
      
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "お名前" %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, autofocus: true, class: "form-control", placeholder: "メールアドレス" %>
      </div>
      <div class="form-group">
        <%= f.label :relationship %>
        <%= f.select(:relationship, [["見やすかった", "見やすかった"], ["見にくい", "見にくい"],  ["普通", "普通"]],{include_blank: "選択して下さい"}, class: "form-control") %>
      </div>
      <div class="form-group">
        <%= f.label :content %>
        <%= f.text_area :content, class: "form-control", placeholder: "伝えたいことがあれば入力してください" %>
      </div>
        <div class="text-center"><%= f.submit '確認画面へ', class: 'btn btn-primary' %></div>
    <% end %>
  </div>
</div>
